/* 메뉴아이콘 */
/* <span class="menu-icon material-symbols-outlined">dehaze</span> */
.menu-icon.material-symbols-outlined {
  color: #615E4D; font-size: 36px; cursor: pointer;
}

/* 로그인아이콘 */
/* <span class="login-icon material-symbols-outlined">person</span> */
.login-icon.material-symbols-outlined{
  color: #615E4D; font-size: 36px; cursor: pointer;
}

/* 장바구니아이콘 */
/* <span class="cart-icon material-symbols-outlined">shopping_cart</span> */
.cart-icon.material-symbols-outlined {
  color: #615E4D; font-size: 32px; cursor: pointer;
}

/* 스와이퍼 화살표 */
/* <span class="prev-b material-symbols-outlined">arrow_back_ios_new</span> */
.prev-b.material-symbols-outlined {
  color: #88ADA5; font-size: 33px; cursor: pointer;
}

/* 스와이퍼 화살표 */
/* <span class="next-b material-symbols-outlined">arrow_forward_ios</span> */
.next-b.material-symbols-outlined {
  color: #88ADA5; font-size: 33px; cursor: pointer;
}

/* 더보기 버튼 */
/* <a href="#"><span class="view-com fs-16 fw-400">View More</span></a> */
.view-com {
  text-decoration: underline; text-underline-offset: 10px;
}