
/* ------------------첫번째 섹션------------------------ */

.inner1 {position: relative;}
.menu-bar {
  width: 100%; height: 90px; top: 0; left: 0; position: fixed;
  display: flex; justify-content: space-between; align-items: center;
  background-color: rgba(255, 255, 255, 0.5); padding: 0 40px; z-index: 98;
  backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px);
}
.menu-bar a {display: block; width: fit-content;}
.menu {width: 100px; text-align: left;}
.logo img {width: 226px; height: 54px;}
.icon {
  width: 100px; display: flex; justify-content: space-between; align-items: center;
}

.menu-bg {
  position: fixed; z-index: 100; background-color: rgba(255, 255, 255, 0.5);
  width: 598px; height: calc(100vh - 90px); padding: 80px 0 0 160px; top: 90px;
  display: none; backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px);
}
.menu-bg a {display: block;}
.component {display: flex; align-items: center; gap: 10px; margin-bottom: 40px;}
.component>span {
  color: #5DA3AF !important; font-size: 24px !important; transition: 0.5s;
}
.component:hover span {margin-left: 4px;}
.menu-bg ul li {margin-bottom: 10px; width: fit-content;}
.menu-bg ul li a {transition: 0.3s; display: block;}
.menu-bg ul:has(li a:hover) li a {color: #BEBAAE;}
.menu-bg ul:has(li a:hover) li a:hover {color: #333333;}
.overlay {
  position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0);
  z-index: 99; display: none; top: 0; left: 0;
}

/* --------------------두번째 섹션------------------------ */

.section2 {
  background: url(../image/bg-1.png) no-repeat center/cover; object-fit: cover;
}
.inner2 {
  padding: 120px 160px; height: 1080px; display: flex; flex-direction: column;
  justify-content: center; 
}
.top-text-box {text-align: left;}
.bottom-text-box {
  text-align: left; padding-right: 135px; margin-top: 120px;
  padding-right: 135px; margin-left: auto;
}

/* ------------------세번째 섹션------------------------------- */

.inner3 {padding: clamp(80px, 7vw, 120px) 0; display: flex; align-items: flex-end;}
.img-sec-box {
  flex: 1 1 0; max-width: 815px;
}
.img-sec-box img {width: 100%; height: auto;}
.pro-sec-box {
  flex: 1; padding-left: clamp(40px,5vw,100px);  min-width: 0;
}
.pro-sec-box p {word-break: keep-all; overflow-wrap: break-word;}
.pro-sec-text {
  margin-bottom: 80px; display: flex; flex-direction: column;
}
.pro-sec-text>a {display: block; width: fit-content;}
.pro-sec-text>a span {transition: 0.3s;}
.pro-sec-text>a:hover span {color: #88ADA5;}
.product {margin-top: 40px;}

/* ------------------------네번째 섹션------------------------- */

.inner4 {padding: 120px 0; display: flex; flex-direction: column; align-items: center;}
.brand-story {
  width: 415px; height: 550px; position: relative; overflow: hidden;
}
.brand-story>p {
  position: absolute; top: 40px; left: 50%; transform: translate(-50%); z-index: 1;
  white-space: nowrap;
}
.brand-story>span {
  position: absolute; bottom: 40px; left: 50%; transform: translate(-50%); z-index: 1;
}
.brand-story>img,
.brand-story>p,
.brand-story>span {transition: 0.6s;}
.inner4>a:hover .brand-story>img {
  transform: scale(1.05);
}

/* -------------------다섯번째 섹션------------------------------ */

.inner5 {padding: 120px 0; background-color: #F9F6F2;}
.inner5>p {text-align: center;}
.swiper-box2 p {word-break: keep-all; overflow-wrap: break-word;}

/* ----------------------여섯번째 섹션----------------------------- */

.section6 {padding: 120px 160px; width: 100%;}
.inner6 {
  display: grid; grid-template-columns: repeat(4, 1fr);
  gap: 20px; width: 100%; margin: 0 auto;
}
.inner6>* {margin: 0;}
.inner6>p {grid-column: span 2;}
.inner6>.insta3 {grid-column-start: 2;}
.inner6 img {width: 100%; object-fit: cover; aspect-ratio: 1 / 1;}
.inner6 a {display: block; overflow: hidden;}
.inner6 a:hover img {transform: scale(1.05);}
.inner6 img {transition: 0.6s;}

/* --------------------------푸터------------------------------------ */

footer {
  width: 100%; display: flex; flex-direction: column;
  align-items: center; padding: 80px 0; background-color: #F9F6F2;
}
footer>img {
  margin: 20px 0 40px 0; width: 388px; height: 95px;
  object-fit: cover;
}
.copy {text-align: center;}